<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
</head>
<body>
    <h3>Add a new user:</h3>
    <form>
        <label for="n1">First Name:</label>
        <input id="n1" type="text" value=""><br>
        <label for="n2">Last Name:</label>
        <input id="n2" type="text" value=""><br>
        <input type="button" onclick="addNewUser" value="Create"><br>
    </form>
</body>
</html>